<link href="../CSS/table-relationship.css" rel="stylesheet" />

<div class="modal">
    <div id="modal" class="modal-contents modal-size">
        <div class="modal-header">
            <div class="modal-title">
                Trình độ đào tạo
            </div>
            <div class="modal-button">
                <div id="btn-maxsize-restore" class="btn-maxsize">
                </div>
                <div class="btn-close">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="header-table">
                <table>
                    <tr>
                        <th class="column-200px">Mã</th>
                        <th>Tên</th>
                        <th class="column-200px">Sử dụng</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <span class="checked"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="body-table">
                <table>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VN
                        </td>
                        <td>
                            Việt Nam
                        </td>
                        <td>
                            <span class="unchecked"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="button">
                <div class="icon-help"></div>
                <div class="text">Giúp</div>
            </div>
            <div class="box-right">
                <div class="button button-select">
                    <div class="icon-select"></div>
                    <div class="text">Chọn</div>
                </div>
                <div class="button">
                    <div class="icon-close"></div>
                    <div class="text">Đóng</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/table-relationship.js"></script>