<link href="../CSS/table-country.css" rel="stylesheet" />

<div class="modal">
    <div id="modal" class="modal-contents modal-size">
        <div class="modal-header">
            <div class="modal-title">
                Quốc tịch
            </div>
            <div class="modal-button">
                <div id="btn-maxsize-restore" class="btn-maxsize">
                </div>
                <div class="btn-close">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <table class="table-select-country">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th class="tr-th-2">Têm</th>
                        <th>Sử dụng</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <span class="checked"></span>
                        </td>
                    </tr>
                </thead>
                <tbody id="table-list-country">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="button">
                <div class="icon-help"></div>
                <div class="text">Giúp</div>
            </div>
            <div class="box-right button-madal-select-country">
                <div class="button button-select">
                    <div class="icon-select"></div>
                    <div class="text">Chọn</div>
                </div>
                <div class="button button-close-madal">
                    <div class="icon-close"></div>
                    <div class="text">Đóng</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/table-country.js"></script>